[submodule "IdnoPlugins/CleverCustomize"]
	path = IdnoPlugins/CleverCustomize
	url = git@github.com:andrewgribben/CleverCustomize.git
	branch = origin/master
[submodule "IdnoPlugins/Read"]
	path = IdnoPlugins/Read
	url = git@github.com:andrewgribben/Known-Read.git
	branch = origin/master
[submodule "IdnoPlugins/Reactions"]
	path = IdnoPlugins/Reactions
	url = git@github.com:andrewgribben/KnownReactions.git
	branch = origin/master
[submodule "IdnoPlugins/Twitter"]
	path = IdnoPlugins/Twitter
	url = git@github.com:andrewgribben/Twitter.git
	branch = origin/master
[submodule "IdnoPlugins/Github"]
	path = IdnoPlugins/Github
	url = git@github.com:andrewgribben/KnownGithub.git
	branch = origin/master
[submodule "IdnoPlugins/Watching"]
	path = IdnoPlugins/Watching
	url = git@github.com:andrewgribben/Known-Watching.git
	branch = origin/master
[submodule "IdnoPlugins/Food"]
	path = IdnoPlugins/Food
	url = git@github.com:andrewgribben/Known-Food.git
	branch = origin/master
[submodule "IdnoPlugins/shortprofile"]
	path = IdnoPlugins/shortprofile
	url = git@github.com:andrewgribben/known-shortprofile.git
	branch = origin/master
[submodule "IdnoPlugins/Video"]
	path = IdnoPlugins/Video
	url = git@github.com:andrewgribben/withknownVideo.git
	branch = origin/master
[submodule "IdnoPlugins/S3"]
	path = IdnoPlugins/S3
	url = git@github.com:andrewgribben/S3.git
	branch = origin/master
[submodule "IdnoPlugins/IndieSyndicate"]
	path = IdnoPlugins/IndieSyndicate
	url = git@github.com:andrewgribben/KnownIndieSyndicate.git
	branch = origin/master
[submodule "IdnoPlugins/Journal"]
	path = IdnoPlugins/Journal
	url = git@github.com:andrewgribben/KnownJournal.git
	branch = origin/master
[submodule "IdnoPlugins/SoundCloud"]
	path = IdnoPlugins/SoundCloud
	url = git@github.com:andrewgribben/SoundCloud.git
	branch = origin/master
[submodule "IdnoPlugins/Gist"]
	path = IdnoPlugins/Gist
	url = git@github.com:andrewgribben/IdnoGist.git
	branch = origin/master
[submodule "IdnoPlugins/InstagramShim"]
	path = IdnoPlugins/InstagramShim
	url = git@github.com:andrewgribben/KnownInstagramShim.git
	branch = origin/master
[submodule "IdnoPlugins/Recipe"]
	path = IdnoPlugins/Recipe
	url = git@github.com:andrewgribben/Known-Recipes.git
	branch = origin/master
[submodule "IdnoPlugins/Review"]
	path = IdnoPlugins/Review
	url = git@github.com:andrewgribben/Known-Reviews.git
	branch = origin/master
